*.iml
.gradle
.idea
/local.properties
/build
/captures
.externalNativeBuild
.cxx
/app/build/
release/
/nativetemplates/
/gradlew
/gradlew.bat
/gradle/wrapper/gradle-wrapper.jar
/app/src/withAds/res/values/donottranslate_secrets.xml
